body{
    margin: 0;
    padding: 0;
    background: url("svg/ProblemStatements1.svg");
    background-size: cover;
    overflow: hidden;
}
html{
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
}
::-webkit-scrollbar {
    display:none;
}
.probWraper{
    width: 100vw;
    display: flex;
    z-index: 5;
}
.half1{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.half2{
    width: 50vw;
    height: 100vh;
}
.nav{
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    z-index: 20;
}
.heading1 {
    white-space: nowrap;
}
.heading2 {
    white-space: nowrap;
}
.heading1 h1{
    font-family: Bahnschrift;
    color: #2dc9af;
    margin: 2vh;
    font-size: 7rem;
    font-weight: 500;
    margin-right: 3px;
    margin-left: 0;
}
.content{
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    color: #2e394c;
    font-size: 2rem;
    padding: 0 8vw;
    margin: 0;
    font-family: 'SegoeUI', Segoe UI;
    max-height: 50vh;
    overflow: scroll;
}
.heading2 h1{
    font-family: Bahnschrift;
    color: white;
    margin: 2vh;
    font-size: 7rem;
    font-weight: 500;
    margin-left: 3px;
    margin-right: 0;
}
.logohead{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 600px;
    max-height: 500px;
    margin: 0;
    padding: 0;
}
.download{
    position: absolute;
    bottom: 10vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'RobotoCondensed-Bold', Roboto;
    font-size: 1.3vw;
}
.hamburger{
    display: none;
}
.download h2{
    background: linear-gradient(to bottom, #6eeed7 0%, #6CF1E4 100%);
    padding: 2vh 2vw;
    border-radius: 50px / 45px;
    cursor: pointer;
}
.download h2 a{
    text-decoration: none;
    color: white;
}
.leftarrow{
    height: 52px;
    width: 30px;
    background: url("svg/path.svg");
    background-size: cover;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left: 1.5vw;
    z-index: 50;
    cursor: pointer;
}
.rightarrow{
    height: 52px;
    width: 31px;
    background: url("svg/path-1.svg");
    background-size: cover;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    right: 1.5vw;
    z-index: 50;
    cursor: pointer;
}


@media all and (max-width:1600px){
    .heading1 h1, .heading2 h1 {
        font-size: 6rem;
    }
}


@media all and (max-width:1450px){
    .heading1 h1, .heading2 h1 {
        font-size: 5rem;
    }
}


@media all and (max-width:1250px){
    .heading1 h1, .heading2 h1 {
        font-size: 4rem;
        margin-top: 5vh;
    }
    .main {
        width: 500px;
    }
}


@media all and (max-width:1150px){
    .heading1 h1, .heading2 h1 {
        font-size: 3.5rem;
        margin-top: 5vh;
    }
    .main {
        width: 400px;
    }
    .content p{
        font-size: 1.5rem;
    }
}


@media all and (max-width:1150px){
    .heading1 h1, .heading2 h1 {
        font-size: 3rem;
        margin-top: 4vh;
    }
    .main {
        width: 350px;
    }
    .content p{
        font-size: 1.5rem;
    }
}


@media all and (max-width:850px){
    .heading1 h1, .heading2 h1 {
        font-size: 2.5rem;
        margin-top: 4vh;
    }
    .main {
        width: 270px;
    }
    .content p{
        font-size: 1rem;
    }
}


@media all and (max-width:700px){
    body {
        background-size: 200% 100%;
    }
    .content{
        position: relative;
        height: 80vh;
        width: 86vw;
        background: #38b49f;
        margin-left: 7vw;
        margin-top: 7vh;
        overflow: scroll;
    }
    .content p{
        font-size: 5vw;
        color: #a6e6e1;
        margin-top: 9vh;
        height: 45vh;
        padding-left: 10vw;
        padding-right: 5vw;
        overflow: scroll;
    }
    .heading1{
        width: 50vw;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 28vh;
        left: 0;
    }
    .heading2{
        width: 50vw;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        top: 28vh;
        left: 48.2vw;
    }
    .heading1 h1{
        font-size: 8vw;
        color: white;
    }
    .heading2 h1{
        font-size: 8vw;
        color: white;
    }
    .half1, .half2{
        position: absolute;
        width: 100vw;
    }
    .half2 {
        height: 30vh;
    }
    .logohead{
        position: absolute;
        top: 12vh;
        left: 0;
        width: 100vw;
        height: 100px;
        display: flex;
        justify-content: center;
    }
    .rightarrow{
        left: 94vw;
        width: 18px;
        height: 30px;
    }
    .leftarrow{
        width: 18px;
        height: 30px;
    }
    .nav{
        width: 100vw;
        height: 10vh;
        justify-content: flex-end;
    }
    .hamburger{
        display: block;
        height: 50px;
        width: 20vw;
        margin: 3.5vh 3vw;
        background: url("svg/menu.svg");
        cursor: pointer;
    }
    .main {
        height: 100px;
        max-width: 60vw;
        margin: 0;
        padding: 0;
    }
    .download{
        width: 100vw;
        bottom: 5vh;
        text-align: center;
    }
    .download h2{
        background: #358e88;
        width: 70vw;
        font-size: 4vw;
    }
}
@keyframes openReg {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes openRegContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes closeReg {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}
@keyframes closeRegContainer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes openProb {
    from {
        transform: translate(100%);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes closeProb {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translate(100%);
        opacity: 0;
    }
}