body{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display:none;
}
.probWraper{
    height:100vh;
    width: 100vw;
    background: url("svg/ProblemStatements1.svg");
    background-size: cover;
    display: flex;
    z-index: 5;
}
.half1{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.half2{
    width: 50vw;
    height: 100vh;
}
.nav{
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}
.heading1 {
    white-space: nowrap;
}
.heading2 {
    white-space: nowrap;
}
.heading1 h1{
    font-family: Bahnschrift;
    color: #2dc9af;
    margin: 2vh;
    font-size: 7rem;
    font-weight: 500;
    margin-right: 3px;
    margin-left: 0;
}
.logo{
    width: 266px;
    height: 49px;
    background: url("svg/apogeelogo.svg");
    background-size: cover;
    margin: 5vh;
}
.content{
    position: absolute;
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content p{
    color: #2e394c;
    font-size: 3vh;
    padding: 0 8vw;
    margin: 0;
    font-family: SegoeUI, Segoe UI;
    max-height: 55vh;
    overflow: scroll;
}
.heading2 h1{
    font-family: Bahnschrift;
    color: white;
    margin: 2vh;
    font-size: 7rem;
    font-weight: 500;
    margin-left: 3px;
    margin-right: 0;
}
.logohead{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 60vh;
    margin: 0;
    padding: 0;
}
.download{
    position: absolute;
    bottom: 10vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
}
.hamburger{
    display: none;
}
.download h2{
    background: #63ddc9;
    padding: 2vh 2vw;
    border-radius: 50px / 45px;
}
.download h2 a{
    text-decoration: none;
    color: white;
}
.leftarrow{
    height: 52px;
    width: 30px;
    background: url("svg/path.svg");
    background-size: cover;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left: 1.5vw;
    z-index: 50;
    cursor: pointer;
}
.rightarrow{
    height: 52px;
    width: 31px;
    background: url("svg/path-1.svg");
    background-size: cover;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    left: 97.2vw;
    z-index: 50;
    cursor: pointer;
}
@media all and (max-width:600px){
    .half1{
        width: 100vw;
    }
    .content{
        position: relative;
        height: 80vh;
        width: 86vw;
        background: #38b49f;
        margin-left: 7vw;
        margin-top: 5vh;
    }
    .content p{
        font-size: 5vw;
        color: #a6e6e1;
        padding-left: 10vw;
        padding-right: 5vw;
    }
    .heading1{
        width: 45vw;
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 20vh;
        left: 0;
    }
    .heading2{
        width: 50vw;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        top: 20vh;
        left: 43vw;
    }
    .heading1 h1{
        font-size: 6vw;
        color: white;
    }
    .heading2 h1{
        font-size: 6vw;
        color: white;
    }
    .half1, .half2{
        position: absolute;
        width: 100vw;
    }
    .logohead{
        position: absolute;
        top: 14vh;
        left: 35vw;
        height: 100vh;
        width: 4vw;
        display: block;
    }
    .rightarrow{
        left: 90vw;
    }
    .logo{
        height: 29px;
        width: 160px;
    }
    .nav{
        width: 100vw;
        height: 10vh;
    }
    .hamburger{
        display: block;
        height: 50px;
        width: 20vw;
        margin: 3.5vh 3vw;
        background: url("svg/menu.svg");
    }
    .main {
        width: 30vw;
        margin: 0;
        padding: 0;
    }
    .download{
        width: 100vw;
        bottom: 5vh;
        text-align: center;
    }
    .download h2{
        background: #358e88;
        width: 70vw;
        font-size: 4vw;
    }
}