body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.wraper{
    height: 100vh;
    width: 100vw;
    background: url("svg/LandingPage1.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}
.logo{
    width: 200px;
    height: 37px;
    background: url("svg/apogeelogo.svg");
    background-size: cover;
    margin: 5vh;
}
.links{
    margin: 5vh 2vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4vw;
}
.nav-links{
    text-decoration: none;
    height: 25px;
    color: #565656;
    padding: 5px 2vw;
}
.links :nth-child(4){
    background: #63ddc9;
    color: white;
    border-radius: 20px / 17px;
    margin-right: 10vw;
}
.circle{
    height: 135vh;
    width: 80vw;
    background: url(svg/circle.svg);
    background-size: cover;
    position: absolute;
    top: -35vh;
    right: -2vw;
}
.home {
    width: 100vw;
    height: 80vh;
    color: #2dc9af;
}
.home h1{
    font-size: 12vh;
    width: 50vw;
    font-family: Bahnschrift;
    font-weight: 500;
    margin-left: 4vw;
    margin-top: 29.5vh;
}
.problem{
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
}
.problem h2{
    background: #63ddc9;
    padding: 2vh 2vw;
    border-radius: 50px / 45px;
}
.problem h3{
    display: none;
}
.problem h2 a{
    text-decoration: none;
    color: white;
}
.problem h3 a{
    text-decoration: none;
    color: white;
}
h3 {
    font-size: 8vh;
    text-align: center;
    font-family: Bahnschrift;
    color: #2dc9af;
    font-weight: 500;
    margin: 7vh;
}
.container {
    width: 100vw;
}
.rules {
    display: none;
    width: 80vw;
    margin: 0 10vw;
}
.rules > p {
    font-size: 4vh;
    font-family: Bahnschrift;
    color: #565656;
}
.contacts {
    display: none;
    width: 80vw;
    margin: 0 10vw;
}
.contacts > p {
    font-size: 5vh;
    font-family: Bahnschrift;
    color: #565656;
    text-align: center;
    margin-top: 10vh;
}
.regContainer {
    display: none;;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    transition: 1s;
}
.register {
    width: 40vw;
    height: 79.5vh;
    margin: 8vh 25vw;
    padding: 2vh 5vw;
    background-color: #fff;
    overflow-y: scroll;
    transform: translateY(-50%);
    transition: 1s;
}
.register > p {
    font-size: 2vh;
    font-family: Bahnschrift;
    color: #565656;
    text-align: center;
}
form {
    font-size: 1.5vh;
    font-family: Bahnschrift;
    color: #565656;
    text-align: center;
}
h4 {
    font-size: 2vh;
    font-family: Bahnschrift;
    color: #565656;
    font-weight: 500;
    margin: 0;
}
.regButton {
    font-size: 2vh;
    padding: 7px 20px;
    background: #63ddc9;
    border-radius: 50px / 45px;
    cursor: pointer;
}
h5 {
    font-size: 3.5vh;
    text-align: center;
    font-family: Bahnschrift;
    color: #2dc9af;
    font-weight: 500;
    margin: 3vh;
}
.closeReg {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: sans-serif;
    cursor: pointer;
    color: grey;
    font-size: 1.5rem;
}
.closeReg:hover {
    color: #565656;
}
.prob {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
}
.hamburger{
    display: none;
}
.homeButton {
    position: absolute;
    bottom: 8vh;
    right: 5vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    text-decoration: none;
    height: 25px;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
}
@media all and (max-width: 600px){
    .home{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle{
        display: none;
    }
    .links{
        display: none;
    }
    .home h1{
        margin: 0;
        width: 80vw;
        font-size: 15vw;
    }
    .problem h2{
        background: #63ddc9;
        width: 70vw;
        padding: 2vh 2vw;
        font-size: 4vw;
        text-align: center;
        border-radius: 50px / 45px;
    }
    .problem h3{
        display: block;
        width: 40vw;
        margin-bottom: 0;
        background: #63ddc9;
        font-size: 4vw;
        padding: 2vh 2vw;
        border-radius: 50px / 45px;
    }
    .problem{
        width: 100vw;
        height: 95vh;
    }
    .logo{
        height: 29px;
        width: 160px;
    }
    .hamburger{
        display: block;
        height: 50px;
        width: 20vw;
        margin: 3.5vh 3vw;
        background: url("svg/menu.svg");
    }
    .register{
        width: 90vw;
        margin: 8vh 1vw;
        padding: 3vh 4vw;
    }
}